body {
    
}

.progess-bar {
    background-color: #FF0000;
}

.progess-bar-tracker {
    width: 20px;
    height: 20px;
}

.progess-bar-tracker.paused {
    background-color: #F99999;
}

.progess-bar-tracker:hover {
    width: 30px;
    height: 30px;
}

.progess-bar-tracker.stopped {
    background-color: #666666;
}