    body {
        background-color: #666666;
    }

    .added-class {
        color: #FF0000;
    }

    .progess-bar {
        background-color: #FF0000;
    }

    .progess-bar-tracker {
        width: 20px;
        height: 20px;
        text-align: center;
        background-color: #FFFFFF;
        display: inline-block;
        flex-direction: column;
        font-weight: 500;
        font-family: 'Courier New', Courier, monospace;
        column-gap: 0ch;
    }

    .progess-bar-tracker:hover {
        width: 30px;
        height: 30px;
    }

    

    .progess-bar-tracker.paused {
        background-color: #F99999;
    }

    .progess-bar-tracker.stopped {
        background-color: #666666;
        font-family: 'Courier New', Courier, monospace;
    }

    .progess-bar-tracker-text {
        font-size: large;
        color: #FFFFFF;
    }

    

    